.Account_main_container {
  margin-top: 0px;
  width: 100%;
  display: flex;
  border: 2px solid red;
}

.Account_side_bar {
  width: 16%;
  height: 739px;
  padding-top: 15px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid green;
  box-shadow: 7px 0px 22px 3px #adadad;
}

.Account_main_div {
  background-color: #f0e0ff00;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 37px 3px #adadad;
}

.ac_heading {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.068);
  border-top: 5px solid rgba(0, 0, 0, 0.068);
}

.ac_heading h2 {
  text-align: center;
  color: rgba(108, 108, 108, 0.493);
}
