.header_logo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.navigation {
  /* background: rgb(0, 13, 107, 0.6); */
  width: 100%;
  height: 100%;
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  z-index: 9999;
  /* display: none; */
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.nav__item {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.nav__item:hover {
  color: #f9a826;
}

.active_nav__item {
  color: #f9a826;
  text-decoration: none;
  transition: 0.3s;
}

.re_nav__item {
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
  /* padding-bottom: 10px; */
  height: 10px;
}
.re_nav__item:hover {
  color: #f9a826;
}

.menu__active {
  display: block;
}
