/* .visible {
  background-color: #127c04;
  color: white;
  padding: 1px 8px;
  text-align: center;
  font-size: small;
  border-radius: 20px;
}

.hidden {
  background-color: #c40101;
  color: white;
  padding: 1px 8px;
  text-align: center;
  font-size: small;
  border-radius: 20px;
  font-weight: bold;
} */
